---
layout: compress
---

{% include base_path %}
{% assign page_lang = page.lang | default: site.locale | slice: 0, 2 %}

<!doctype html>
<html lang="{{ page_lang }}" dir="{% if page_lang == 'fa' %}rtl{% else %}ltr{% endif %}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="{% if page_lang == 'fa' %}persian-theme{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
